<button class="layout-config-button p-link" type="button" (click)="onConfigButtonClick()">
  <i class="pi pi-cog"></i>
</button>

<p-sidebar [(visible)]="visible" position="right" [transitionOptions]="'.3s cubic-bezier(0, 0, 0.2, 1)'" styleClass="layout-config-sidebar w-20rem">
  <h5>Scale</h5>
  <div class="flex align-items-center">
    <button icon="pi pi-minus" type="button" pButton (click)="decrementScale()" class="p-button-text p-button-rounded w-2rem h-2rem mr-2" [disabled]="scale === scales[0]"></button>
    <div class="flex gap-2 align-items-center">
      <i class="pi pi-circle-fill text-300" *ngFor="let s of scales" [ngClass]="{'text-primary-500': s === scale}"></i>
    </div>
    <button icon="pi pi-plus"  type="button" pButton (click)="incrementScale()" class="p-button-text p-button-rounded w-2rem h-2rem ml-2" [disabled]="scale === scales[scales.length - 1]"></button>
  </div>

  <h5>PrimeOne Design - 2022</h5>
  <div class="grid">
    <div class="col-3">
      <button class="p-link w-2rem h-2rem" (click)="changeTheme('lara-light-indigo', 'light')">
        <img src="assets/layout/images/themes/lara-light-indigo.png" class="w-2rem h-2rem" alt="Lara Light Indigo">
      </button>
    </div>
    <div class="col-3">
      <button class="p-link w-2rem h-2rem" (click)="changeTheme('lara-light-blue', 'light')">
        <img src="assets/layout/images/themes/lara-light-blue.png" class="w-2rem h-2rem" alt="Lara Light Blue">
      </button>
    </div>
    <div class="col-3">
      <button class="p-link w-2rem h-2rem" (click)="changeTheme('lara-light-purple', 'light')">
        <img src="assets/layout/images/themes/lara-light-purple.png" class="w-2rem h-2rem" alt="Lara Light Purple">
      </button>
    </div>
    <div class="col-3">
      <button class="p-link w-2rem h-2rem" (click)="changeTheme('lara-light-teal', 'light')">
        <img src="assets/layout/images/themes/lara-light-teal.png" class="w-2rem h-2rem" alt="Lara Light Teal">
      </button>
    </div>
    <div class="col-3">
      <button class="p-link w-2rem h-2rem" (click)="changeTheme('lara-dark-indigo', 'dark')">
        <img src="assets/layout/images/themes/lara-dark-indigo.png" class="w-2rem h-2rem" alt="Lara Dark Indigo">
      </button>
    </div>
    <div class="col-3">
      <button class="p-link w-2rem h-2rem" (click)="changeTheme('lara-dark-blue', 'dark')">
        <img src="assets/layout/images/themes/lara-dark-blue.png" class="w-2rem h-2rem" alt="Lara Dark Blue">
      </button>
    </div>
    <div class="col-3">
      <button class="p-link w-2rem h-2rem" (click)="changeTheme('lara-dark-purple', 'dark')">
        <img src="assets/layout/images/themes/lara-dark-purple.png" class="w-2rem h-2rem" alt="Lara Dark Purple">
      </button>
    </div>
    <div class="col-3">
      <button class="p-link w-2rem h-2rem" (click)="changeTheme('lara-dark-teal', 'dark')">
        <img src="assets/layout/images/themes/lara-dark-teal.png" class="w-2rem h-2rem" alt="Lara Dark Teal">
      </button>
    </div>
  </div>
</p-sidebar>
