<div class="flex justify-content-end">
  <p-button label="Truy xuất" severity="primary" icon="pi pi-search" size="small" class="mr-3"/>
  <p-button label="Làm lại" severity="primary" icon="pi pi-refresh" size="small"/>
</div>
<br>
<div class="card">
  <div class="card-title">
    Kết quả tìm kiếm ({{ products.length }})
  </div>
  <div class="card-body">
    <p-table
      [value]="products"
      [(selection)]="selectedProduct"
      dataKey="code"
      [scrollable]="true"
      scrollHeight="400px"
      styleClass="p-datatable-md p-datatable-striped"
      [tableStyle]="{'min-width': '50rem'}">

      <ng-template pTemplate="header">
        <tr>
          <th style="width: 4rem"></th>
          <th>Loại ID</th>
          <th>Số ID</th>
          <th>Tên khách hàng</th>
          <th>Số CIF</th>
          <th>So khớp TTKH</th>
          <th>So khớp khuôn mặt khách hàng</th>
          <th>TT xác thực CBA</th>
          <th>TT xác thực KH trên Core</th>
          <th>Ngày/giờ tạo bản ghi</th>
          <th>User GD</th>
          <th>CN GD</th>
          <th>Trạng thái bản ghi</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>
            <p-tableRadioButton [value]="product"/>
          </td>
          <td>{{ product.idType }}</td>
          <td>{{ product.idNumber }}</td>
          <td>{{ product.customerName }}</td>
          <td>{{ product.cifNumber }}</td>
          <td>{{ product.customerInfoMatch }}</td>
          <td>{{ product.customerFaceMatch }}</td>
          <td>{{ product.cbaVerificationStatus }}</td>
          <td>{{ product.coreCustomerVerificationStatus }}</td>
          <td>{{ product.recordCreationDateTime }}</td>
          <td>{{ product.transactionUser }}</td>
          <td>{{ product.transactionBranch }}</td>
          <td>
            <p-tag severity="danger" [value]="product.recordStatus"/>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="card-footer">
    <div class="flex justify-content-center">
      <p-button label="Tạo CIF"
                [raised]="true"
                pRipple
                severity="primary"
                size="small"
                icon="pi pi-plus"
                class="mr-3"/>
      <p-button label="Duy trì CIF"
                size="small"
                severity="primary"
                [raised]="true"
                icon="pi pi-eye"
                class="mr-3"/>
      <p-button label="Mở tài khoản"
                [disabled]="true"
                [raised]="true"
                severity="primary"
                size="small"
                icon="pi pi-user"
                class="mr-3"/>
    </div>
  </div>


  <div class="card">
    <h5>Severities</h5>
    <div class="flex flex-wrap gap-2">
      <button pButton pRipple type="button" label="Primary"></button>
      <button pButton pRipple type="button" label="Secondary" class="p-button-secondary"></button>
      <button pButton pRipple type="button" label="Success" class="p-button-success"></button>
      <button pButton pRipple type="button" label="Info" class="p-button-info"></button>
      <button pButton pRipple type="button" label="Warning" class="p-button-warning"></button>
      <button pButton pRipple type="button" label="Help" class="p-button-help"></button>
      <button pButton pRipple type="button" label="Danger" class="p-button-danger"></button>
    </div>
  </div>

</div>



